html
html
   head
      title Mess-Ages
   body
      form(action = "/ocp", method = "POST")
         div
            label(for = "ocp") Code:
            input(name = "ocp")
         br
         button(type = "submit") Göndər

         